* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type=text],
input[type=datetime-local],
textarea {
    width: 350px;
}

.list-title {
    margin-Top: 5% !important;
}

.table {
    background-color: #FFFFFF;
    padding: 10px;
}

.table thead {
    border-bottom: 1px solid gray !important;
}

.btn-group {
    margin: 50px 0px;
}

.btn-groups {
    margin: 50px;
}

#btn-common {
    width: 80px;
}

.body-content {
    background-color: rgb(249, 247, 247);
    padding: 40px 20px;
    border-radius: 10px;
    padding-bottom: 0%;
}

.body-content-add {
    background-color: rgb(249, 247, 247);
    padding: 40px 20px;
    border-radius: 10px;
}

.view-item {
    font: normal normal normal 14px/21px Poppins;
    display: flex;
    justify-content: space-between;
}

#text-value {
    letter-spacing: 0px;
    color: #A9ACB0;
    opacity: 1;
}

.paginationCenter {
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    width: 20em;
}


.main-search {
    padding: 12px 40px;
    background: #f2f3f3 0% 0% no-repeat padding-box;
    border: 1px solid #F8F9F9;
    border-radius: 10px;
}

.fontuser {
    position: relative;
}

.fontuser i {
    position: absolute;
    left: 115px;
    top: 9px;
    color: gray;
}

.headingModsLand h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: bold;

}

.headingViewMods h4 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-weight: bold;

}

/*User view*/
.containerView {
    background-color: white;
    position: relative;
    display: grid;
    padding-left: 0;
    grid-template-columns: 300px 1080px;
    border-radius: 5px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    width: 1275px;
    margin: auto;

}

.containerView img {
    height: 430px;
    width: 500px;
    border-radius: 5px;
    object-fit: cover;
    padding-left: 0px;
}

/*User buttons*/
.btnView button {
    padding: 0.5rem;
    background-color: rgb(111, 224, 172);
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 650;
    border-radius: 5px;
    font-size: 12px;
    width: 90px;
    height: 40px;

}

.btnView button:hover {
    background: rgb(85, 212, 153);
    transform: scale(1.01);

}

.btnCancel button {
    padding: 0.5rem;
    background-color: rgb(226, 95, 95);
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 650;
    border-radius: 5px;
    font-size: 12px;
    width: 90px;
    height: 40px;
}

.btnCancel button:hover {
    background: rgb(226, 60, 60);
    transform: scale(1.01);

}

.btnView,
.btnCancel {
    display: inline-block;
}




.containerViewHeading {
    padding: 15px 150px 0;
    color: black;
    font-weight: 400;
    margin-left: 90px;

}

.containerViewH1 {
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 650;


}

.containerViewSubHead {
    font-size: 23px;
    font-weight: bold;
    color: rgb(56, 183, 192);
}


ul {
    list-style: none;
}

.view p {
    padding-left: 30px;
    font-size: 15px;
}

/*Admin Page Modifications*/

.containerViewADM {
    background-color: rgb(255, 250, 239);
    position: relative;
    display: grid;
    padding-left: 0;
    grid-template-columns: 1000px 1080px;
    border-radius: 5px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
    width: 700px;
    margin: auto;

}

.containerViewADM img {
    height: 430px;
    width: 500px;
    border-radius: 5px;
    object-fit: cover;
}

.containerViewHeadingADM {
    padding: 15px 150px 0;
    color: black;
    font-weight: 500;
    padding-left: 200px;

}

.containerViewH1ADM {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 650;
    padding-left: 30px;

}

.containerViewSubHeadADM {
    font-size: 23px;
    font-weight: bold;
    color: rgb(56, 183, 192);
    padding-left: 30px;
}

.pViewADM {
    font-size: 18px;
    padding-left: 7px;
    display: flexbox;
    font-weight: 400;
}

/*Admin buttons*/
.btnUpdate button {
    padding: 0.5rem;
    background-color: rgb(111, 224, 172);
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 650;
    border-radius: 5px;
    font-size: 12px;
    width: 90px;
    height: 40px;
    margin-left: 50;

}

.btnUpdate button:hover {
    background: rgb(85, 212, 153);
    transform: scale(1.01);

}

.btnDelete button {
    padding: 0.5rem;
    background-color: rgb(226, 95, 95);
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 650;
    border-radius: 5px;
    font-size: 12px;
    width: 90px;
    height: 40px;
    margin-left: 50;
}

.btnDelete button:hover {
    background: rgb(226, 60, 60);
    transform: scale(1.01);

}

.btnBack button {
    padding: 0.5rem;
    background-color: #aeb1db;
    border: none;
    transition: 0.2s;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 650;
    border-radius: 5px;
    font-size: 12px;
    width: 90px;
    height: 40px;
    margin-left: 50;
}

.btnBack button:hover {
    background: #75b0c2;
    transform: scale(1.01);

}

.btnUpdate,
.btnDelete,
.btnBack {
    display: inline-block;
}